code {
	background-color: #F4F5F6;
	padding: 0.25rem;
	border-radius: 0.25rem;
	line-height: 1rem;
}

label {
	display: block;
	margin-bottom: 0;
}
hr {
	width: 100%;
}

input[type=text],
select {
	margin-right: 1.5rem;
	width: 160px;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
}

select {
	padding: 3px 0;
}

textarea,
pre {
	font-family: monospace;
	font-size: 14px;
	line-height: 1.4;
}

textarea:disabled {
	border: 1px solid #222;
	border-radius: 2px;
	background-color: white !important;
	cursor: text;
	color: #222;
}

.scheme-selector {
	border-left: 2px solid lightgray;
	padding-left: 1.5rem;
}

.preview-box {
	border: 1px dotted rgb(0, 151, 220);
	display: inline-flex;
}
.recolor-list {
	margin-top: .5rem;
	display: block;
}
.recolor-option::first-letter {
	color: red;
}
.recolor-option {
	border: 4px solid gold;
}